* {
  color: $primary-balck-font-color;
}
body {
  font-family: $primary-font-family;
  font-size: 14px;
  font-weight: 600;
}

.container {
  width: 320px;
  margin: 0 auto;
  position: relative;
  padding: 0 10px 0 10px;

  @media (min-width: 1280px) {
    width: 1280px;
  }
}
